Team WASD-GSSMSClient/Connected Services/GameDBServiceReference/GameDBService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59399/GameDBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" />
  <xs:element name="GetAllGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" minOccurs="0" name="GetAllGamesResult" nillable="true" type="q1:ArrayOfGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" minOccurs="0" name="FindAGameResult" nillable="true" type="q2:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" minOccurs="0" name="game" nillable="true" type="q3:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" minOccurs="0" name="game" nillable="true" type="q4:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" minOccurs="0" name="game" nillable="true" type="q5:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlatformGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="platformName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlatformGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" minOccurs="0" name="GetAllPlatformGamesResult" nillable="true" type="q6:ArrayOfGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAGameByGameTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAGameByGameTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" minOccurs="0" name="FindAGameByGameTitleResult" nillable="true" type="q7:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>