Team WASD-GSSMSClient/Connected Services/GameDBServiceReference/GameDBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameDBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59399/GameDBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59399/GameDBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59399/GameDBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Team_WASD___Game_Store_Stock_Management_System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameDBService_GetAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGames" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_GetAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_FindAGame_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAGame" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_FindAGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_AddGame_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_AddGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_EditGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGame" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_EditGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_DeleteGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGame" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_DeleteGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_GetAllPlatformGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlatformGames" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_GetAllPlatformGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlatformGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_FindAGameByGameTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAGameByGameTitle" />
  </wsdl:message>
  <wsdl:message name="IGameDBService_FindAGameByGameTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAGameByGameTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameDBService">
    <wsdl:operation name="GetAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDBService/GetAllGames" message="tns:IGameDBService_GetAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDBService/GetAllGamesResponse" message="tns:IGameDBService_GetAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDBService/FindAGame" message="tns:IGameDBService_FindAGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDBService/FindAGameResponse" message="tns:IGameDBService_FindAGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDBService/AddGame" message="tns:IGameDBService_AddGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDBService/AddGameResponse" message="tns:IGameDBService_AddGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDBService/EditGame" message="tns:IGameDBService_EditGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDBService/EditGameResponse" message="tns:IGameDBService_EditGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDBService/DeleteGame" message="tns:IGameDBService_DeleteGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDBService/DeleteGameResponse" message="tns:IGameDBService_DeleteGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlatformGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDBService/GetAllPlatformGames" message="tns:IGameDBService_GetAllPlatformGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDBService/GetAllPlatformGamesResponse" message="tns:IGameDBService_GetAllPlatformGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAGameByGameTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameDBService/FindAGameByGameTitle" message="tns:IGameDBService_FindAGameByGameTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameDBService/FindAGameByGameTitleResponse" message="tns:IGameDBService_FindAGameByGameTitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameDBService" type="tns:IGameDBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://tempuri.org/IGameDBService/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAGame">
      <soap:operation soapAction="http://tempuri.org/IGameDBService/FindAGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://tempuri.org/IGameDBService/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGame">
      <soap:operation soapAction="http://tempuri.org/IGameDBService/EditGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <soap:operation soapAction="http://tempuri.org/IGameDBService/DeleteGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlatformGames">
      <soap:operation soapAction="http://tempuri.org/IGameDBService/GetAllPlatformGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAGameByGameTitle">
      <soap:operation soapAction="http://tempuri.org/IGameDBService/FindAGameByGameTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameDBService">
    <wsdl:port name="BasicHttpBinding_IGameDBService" binding="tns:BasicHttpBinding_IGameDBService">
      <soap:address location="http://localhost:59399/GameDBService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>